@tailwind base;
@tailwind components;
@tailwind utilities;


.logo{
 background: black;
 color: white;
 padding: 5px;
 font-size: 20px;
 font-weight: bold;
 text-align: center; 
}
 .inner input{
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
}
button.btn{
  background: black;
  color: white;
  padding: 7px;
  margin: 5px;
  border-radius: 10px;
  font-weight: bold;
}
.main{
  padding: 20px;
  background: gray;
}
li button{
  background-color: rgb(218, 70, 70);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 7px;
}
